/* error.css e settings.css são basicamente iguais */
.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.container > * {
    flex: 1 0 380px; /* Define a fixed size for each card */
    max-width: 1400px;
}

.container h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: var(--dark);
}

.container p {
    margin-bottom: 0.5rem;
    color: var(--dark-gray);
}

.error-details {
    margin: 1.5rem 0;
    padding: 1rem;
    background: #FEE2E2;
    border-radius: var(--border-radius);
    color: #B91C1C;
}

.error-details p {
    margin-bottom: 0.5rem;
}

.error-details p:last-child {
    margin-bottom: 0;
}

.container > * {
    transform: translateY(30px);
    animation: fadeInUp 0.5s ease forwards;
    opacity: 0;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.container > *:nth-child(1) {
    animation-delay: 0.1s;
}
.container > *:nth-child(2) {
    animation-delay: 0.2s;
}
.container > *:nth-child(3) {
    animation-delay: 0.3s;
}

